<div>
	<form id="searchForm">
		<div>
			<div>
				<label for="ddlSource">Source:</label>
				<ui-select ng-model="home.selectedSource" id="ddlSource" ng-required="true">
					<ui-select-match placeholder="Select social network...">
						{{$select.selected.name}}
					</ui-select-match>
					<ui-select-choices repeat="option in home.sourceOptions">
						<div><img ng-src="http://www.twitter.com/favicon.ico" /><span ng-bind="option.name"></span></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div>
				<label for="txtSearch" id="lblSearch">Username:</label>
				<input type="text" ng-model="home.searchValue" required />
				<button id="btnSearch" class="btn btn-primary" ng-click="searchForm.$valid && home.SearchUser(home.selectedSource.value,home.searchValue)">Buscar</button>
			</div>
		</div>
	</form>
</div>

<div id="results" style="clear:both;">
	<label> {{home.status}} </label>
	<table>
		<thead>
			<tr>
				<th>Username</th>
				<th>UserId</th>
				<th>Bio</th>
				<th>Profile Pic</th>
		</thead>
		<tbody>
			<tr ng-repeat="personalInfo in home.PersonalInfo">
				<td>{{personalInfo.UserName}}</td>
				<td>{{personalInfo.UserId}}</td>
				<td>{{personalInfo.Bio}}</td>
				<td><img ng-src="{{personalInfo.ProfilePicUrl}}" /></td>
		</tbody>
	</table>
</div>