<h2>home</h2>
<p>{{home.ctrlName}}</p>

<div>
	<select ng-model="home.source">
        <option ng-repeat="option in home.sourceOptions" value="{{option.value}}">{{option.name}}</option>
    </select>
	<label for="txtSearch" id="lblSearch">Username:</label>
	<input type="text" ng-model="home.searchValue" />
	<button id="btnSearch" ng-click="home.SearchUser(home.source,home.searchValue)">Buscar</button>
</div>
<div id="results">
	<label> {{home.status}} </label>
	<table>
		<thead>
			<tr>
				<th>Username</th>
				<th>UserId</th>
				<th>Bio</th>
				<th>Profile Pic</th>
		</thead>
		<tbody>
			<tr ng-repeat="personalInfo in home.PersonalInfo">
				<td>{{personalInfo.UserName}}</td>
				<td>{{personalInfo.UserId}}</td>
				<td>{{personalInfo.Bio}}</td>
				<td>{{personalInfo.ProfilePicUrl}}</td>
		</tbody>
	</table>
	<input type="text" ng-model="home.PersonalInfo"></input>
</div>